{
  "$schema": "https://opencode.ai/config.json",
  "plugin": [
    "@plannotator/opencode@latest"
  ],
  "model": "azure/gpt-5.6-sol",
  "provider": {
    "azure": {
      "npm": "@ai-sdk/azure",
      "options": {
        "apiKey": "{ .opencode_azure_api_key }", 
        "resourceName": "yxli-models",
        "apiVersion": "v1"
      },
      "models": {
        "gpt-5.6-sol": { "name": "gpt-5.6-sol" },
        "gpt-5.6-terra": { "name": "gpt-5.6-terra" },
        "gpt-5.3-codex": { "name": "gpt-5.3-codex" },
        "DeepSeek-V4-Flash": { "name": "DeepSeek-V4-Flash" }
      }
    }
  },
  "mcp": {
    "playwright": {
      "type": "local",
      "command": [
        "npx",
        "@playwright/mcp@latest"
      ],
      "enabled": true
    },
    "figma": {
      "type": "remote",
      "url": "http://127.0.0.1:3845/mcp",
      "oauth": false,
      "enabled": true
    }
  }
}
