{
  "$schema": "https://opencode.ai/config.json",
  "plugin": [
    "@plannotator/opencode@latest"
  ],
  "model": "azure/gpt-6-astra",
  "provider": {
    "azure": {
      "npm": "@ai-sdk/azure",
      "options": {
        "apiKey": "{{ .opencode_azure_api_key }}", 
        "resourceName": "yxli-models",
        "apiVersion": "v1"
      },
      "models": {
        "gpt-6-astra": { "name": "gpt-6-astra", "limit": { "context": 272000, "output": 128000 } },
        "gpt-6-sol": { "name": "gpt-6-sol", "limit": { "context": 272000, "output": 128000 } },
        "gpt-6-luna": { "name": "gpt-6-luna", "limit": { "context": 272000, "output": 128000 } },
      }
    },
    "openwebui": {
      "name": "Open WebUI",
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "baseURL": "https://ai.scc.sdsc.edu/api",
        "apiKey": "{{ .opencode_openwebui_api_key }}"
      },
      "models": {
        "qwen3.8-flash-next": { "name": "qwen3.8-flash-next", "limit": { "context": 272000, "output": 128000 } }
      }
    }
  },
  "agent": {
    "build": { "disable": true }
  },
  "mcp": {
    "playwright": {
      "type": "local",
      "command": [
        "npx",
        "@playwright/mcp@latest"
      ],
      "enabled": true
    },
    "figma": {
      "type": "remote",
      "url": "http://127.0.0.1:3845/mcp",
      "oauth": false,
      "enabled": true
    }
  }
}

